.offer {
  outline: 3px dashed rgb(23, 172, 0);
  margin-bottom: 20px;
}

.week4 {
  outline: 3px dashed crimson;
  margin-bottom: 20px;
}

.week2 {
  outline: 3px dashed yellow;
  margin-bottom: 20px;
}

.missing {
  outline: 3px dashed rgb(157, 10, 220);
  margin-bottom: 20px;
}

.good {
  outline: 3px dashed deepskyblue;
  margin-bottom: 20px;
}

.expandedForm {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.description {
  display: block;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}